<div class="col-3 bg-body-tertiary d-flex flex-column py-4 ps-4">
  <div class="logo mb-4">
    <img src="../assets/images/logo-ANSWER.svg" alt="logo" class="my-8 ms-8">
  </div>
  <ul class="list-unstyled">
    <li class="d-flex align-items-center mb-3 sidebar-hover">
      <span class="material-icons">
        assessment
      </span>
      <span class="fw-bold ms-2 ">Dashboard</span>
    </li>
    <li class="d-flex align-items-center mb-3 sidebar-hover">
      <span class="material-icons">
        question_answer
      </span>
      <span class="fw-bold ms-2">Question</span>
    </li>
    <li class="d-flex align-items-center mb-3 sidebar-hover">  
      <a class="text-dark d-flex" href="index.html">
        <span class="material-icons assignment">
          assignment
        </span>
        <span class="fw-bold ms-2 assignment">Assignment</span>
      </a>
    </li>
    <li class="d-flex align-items-center mb-3 sidebar-hover">
      <span class="material-icons">
        video_library
      </span>
      <span class="fw-bold ms-2">Course</span>
    </li>
    <li class="d-flex align-items-center mb-3 sidebar-hover">
      <a  class="text-dark d-flex" href="admin.html">
        <span class="material-icons admin">
          people_alt
        </span>
        <span class="fw-bold ms-2 admin">Admin</span>
      </a> 
    </li>
    <li class="d-flex align-items-center mb-3 sidebar-hover">
      <span class="material-icons">
        settings
      </span>
      <span class="fw-bold ms-2">Settings</span>
    </li>
  </ul>
  <div class="d-flex align-items-center mt-auto">
    <div class="user-photo">
      <img src="../assets/images/andychen.jpeg" alt="" class="rounded-circle h-100 w-100">
    </div>
    <div class="flex-grow-1 ms-2">
      <h5 class="fw-bold">Andy Chen</h5>
      <p class="fs-7 text-secondary">andy0401@mail.com</p>
    </div>
  </div>


</div>