<!-- <div id="editor" class="editor">This is some sample content.</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor5/39.0.1/ckeditor.min.js"></script> -->



<!-- <script>

  // import ClassicEditor from './ckeditor';

// ClassicEditor
//     // Note that you do not have to specify the plugin and toolbar configuration — using defaults from the build.
//     .create( document.querySelector( '#app' ) )
//     .then( editor => {
//         console.log( 'Editor was initialized', editor );
//     } )
//     .catch( error => {
//         console.error( error.stack );
//     } );
</script> -->