<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-4">
              <div class="user-photo-big">
                <img src="../assets/images/emir.jpeg" alt="emir photo" class="h-100">
              </div>
            </div>
            <div class="col-8 ps-4">
              <p class="d-flex justify-content-between">
                <span>#1</span>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </p>
              <p>Admin</p>
              <p class="fs-5 fw-bold">Emir Wicks</p>
              <p class="fs-7 text-secondary mb-2">emir.wicks@mail.com</p>

              <div class="accordion accordion-flush" id="accordion">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-1">
                    <button class="accordion-button collapsed bg-white  px-0 pb-0" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                      <p class="bg-body-tertiary px-2">Verified</p>
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse " aria-labelledby="flush-1" data-bs-parent="#accordion">
                    <div class="accordion-body d-flex justify-content-between px-0 pb-0">
                      <button class="btn btn-outline-danger px-4">Deactivate</button>
                      <button class="btn btn-primary px-4">Edit</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>